@{
    ViewData["Title"] = "AboutUs";
}

    <div class="text-center">

        <h1 class="display-4" id="ha2">--- About Us ---</h1>

        <h3 id="ha3">Headquarters:</h3>
        <p id="pa1">This cutting-edge clamp was created by ProClamp Innovations Ltd. Our headquarters, located at 123 Harmony Street, Sunnyville, Gurdaspur, Punjab, 143521, India, serves as the epicenter of innovation where our dedicated team of engineers and visionaries tirelessly work to bring you cutting-edge solutions. </p>

        <h3 id="ha3">Description of the Product: </h3>
        <p id="pa1">
            Introducing the ground-breaking "ProClamp"—the first smart clamp in the world that redefines how you secure, connect, and innovate. This sophisticated clamp, created by ClampTech Innovations Ltd., effortlessly combines the power of artificial intelligence, cutting-edge materials, and precision engineering to give unsurpassed performance in a variety of industries.
        </p><br />



        <p id="pa1"><strong>Smart Technology:</strong><br />With its sophisticated sensor system, the ProClamp can adapt to various materials and clamping demands. Based on real-time data, it changes the grip's position and force to consistently provide a firm and accurate hold.</p>

        <p id="pa1">
            <strong>Durability</strong><br />The ProClamp X1 is made to survive the harshest environments thanks to a patented blend of materials that are both very lightweight and strong. Its durability guarantees that it will continue to be a dependable item in your toolbox for many years.
        </p>

        <h3 id="ha3">Contact Information:</h3>

        <ul>
            <li id="ha5"><strong>Mobile no:</strong> 5199039511</li>
            <li id="ha5"><strong>Email :</strong> prabhjot.singh7131@icloud.com</li>
            <li id="ha5"><strong>Ig :</strong> Prabhjot_randhawa__00</li>
        </ul>
        


    </div>
