@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" id="ha1" style="color:darkred;">Pro Clamp</h1>

    <link href="https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Roboto+Mono:wght@400;600&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Oswald&family=Roboto+Mono:wght@400;600&family=Young+Serif&display=swap" rel="stylesheet">
    <style>

        body {
            background-image: url("./img/k.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>


        <img src="./img/ab.png">
        <img src="./img/b.png">
        <img src="./img/c.png">
        <img src="./img/d.png">
        <img src="./img/e.png">



</div>
