@{
    <title>@ViewData["Title"] - ProClamp App</title> //for set the value of ViewData["Title"] equal to "Index"
}

<h2>My Clamp List</h2> @*our h2 heading*@

<p>Hello from our View Template!</p>  @*our Paragraph*@